<div class="banner" style="background-image: url('<%= image_path 'banner.jpg' %>');">
    <div class="container text-center justify-content-center align-middle">
      <h1 class="font-weight-bold">BOIA REMO OBSERVACIONAL</h1>
    </div>
</div>

<div class="container">
	<div class="buoys">
      
    <ul class="tab-group">
      <li class="tab active"><a href="#antartica">Antartica</a></li>
      <li class="tab"><a href="#abrolhos">Abrolhos</a></li>
    </ul>
    
    <div class="tab-content">
      <div id="antartica">            
        
        
      </div>
      
      <div id="abolhos">   
        
      </div>
      
    </div><!-- tab-content -->
  </div>
</div>