.footer{
  background: rgba(19, 35, 47, 0.9);
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: center;
  height: 50px;
  padding: 0px 30px;
  color: gray;
  position: static;
  bottom: 0;
  width: 100%;
}

// .footer .fa-heart {
//   color: #D23333;
// }